<div class="container item-index">
    <p id="notice"><%= notice %></p>

    <div class="row">
        <div class="col-md-12" style="margin-bottom: 30px;">
            <div class="input-group">
                <input type="text" class="form-control input-lg js-search-item" placeholder="e.j iPhone ...">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg" type="button">Buscar</button>
                </span>
            </div>
        </div>
    </div>

    <% if !@items.blank? %>
        <ul class="list-unstyled item-list">
            <% for item in @items.order(id: :desc) %>
                <li>
                    <a href="<%= item_path(item) %>">
                        <img class="img-circle" src="https://graph.facebook.com/<%= item.created_by.uid %>/picture?type=small" alt="<%= item.created_by %>" width="40" height="40">
                        <span class="title"><%= item.title %></span>
                        <span class="description"><%= truncate(item.description, length: 60) %></span>
                        <span class="pull-right created-at">
                            <span class="status label <%= item.status_class %>"><%= item.status.capitalize %></span>
                            <%= item.created_at.strftime("%b %e") %>
                        </span>
                    </a>
                </li>
            <% end %>
        </ul>
    <% else %>
        <h3>No items</h3>
    <% end %>
</div>

<div id="status">
</div>
