<div class="container container-sm item-detail">

    <div class="header-nav">
        <a href="/" style="color: #333;">← Todos los objetos</a>
    </div>

    <% if notice -%>
        <div class="alert alert-success">
            <p id="notice"><%= notice %></p>
        </div>
    <% end -%>

    <div class="row item-detail">
        <div class="col-md-6">
            <a target="_blank" href="https://www.facebook.com/app_scoped_user_id/<%= @item.created_by.uid %>/">
                <img class="img-circle" src="https://graph.facebook.com/<%= @item.created_by.uid %>/picture?type=small" alt="">
            </a>
            <h4>Publicado por
                <strong>
                    <a target="_blank" href="https://www.facebook.com/app_scoped_user_id/<%= @item.created_by.uid %>/" style="color: #333;">
                        <%= @item.created_by %>
                    </a>
                </strong>
            </h4>
        </div>
        <div class="col-md-6">
            <div class="status text-right">
                <span class="label <%= @item.status_class %>">
                    Objeto <%= @item.status %>
                </span>
            </div>
            <div class="date text-right">
                <%= @item.created_at.strftime("%b %e de %Y a las %I:%M %p") %>
            </div>
        </div>
    </div>

    <h1><%= @item %></h1>
    <p><%= simple_format(@item.description) %></p>
    <hr>

    <div class="row">
        <% if !@item.attachments.blank? %>
            <div class="col-md-12">
                <h5>Imágenes</h5>
            </div>
          <% for attachment in @item.attachments %>
            <div class="col-xs-6 col-md-3">
                <a href="<%= attachment.file.url %>" target="_blank" class="thumbnail">
                    <img src="<%= attachment.file.url(:thumb) %>" alt="...">
                </a>
            </div>
          <% end %>
        <% else %>
            <div class="col-md-12">
                <h4>Sin imagénes</h4>
                <p class="text-muted">Este objeto no tiene imágenes</p>
            </div>
        <% end %>
    </div>

</div>
